[Unit]
 Description=My LCD Service
 After=multi-user.target

 [Service]
 Type=idle
 ExecStartPre=/bin/sleep 1
 ExecStart=/home/orangepi/DWIN_T5UIC1_LCD/venv/bin/python3 /home/orangepi/DWIN_T5UIC1_LCD/run.py > /tmp/lcd.log

 [Install]
 WantedBy=multi-user.target

