[Unit]
 Description=My LCD Service
 After=multi-user.target

 [Service]
 Type=idle
 ExecStartPre=/bin/sleep 30
 ExecStart=/bin/sh -c '/home/orangepi/venv/bin/python3 /home/orangepi/DWIN_T5UIC1_LCD/run.py  > /tmp/lcd.log 2>&1'

 [Install]
 WantedBy=multi-user.target

